// 1. Colors

$bg-color: #EDEDED;
$yellow-color: #FFD540;
$green-color: #5CB85C;
$dark-red-color: #8B0000;
$light-red-color: #FF6F77;
$dark-gray-color: #373A3C;
$lighter-gray-color: #6E7174;
$light-green-color: #DFF0D8;
