@import 'Main';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &::selection {
        background: black;
        color: white;
    }
}

body {
    background-color: $bg-color;
    font-family: 'Ubuntu', sans-serif;
}